# Node modules
**/node_modules/**

# Cache
**/.vuepress/.cache/**
**/.vitepress/cache/**

# Temp
**/.vuepress/.temp/**
**/.vitepress/temp/**

# Output
**/.vuepress/dist/**
**/.vitepress/dist/**

# 自定义草稿箱
docs/_temp/

# GoodSync
_gsdata_/